@use '../abstracts/' as abs;

.card {
    max-width: abs.toRem(470);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: abs.toRem(20) abs.toRem(20);
    border-radius: abs.toRem(10);
    border: 1px solid abs.$secondary-yellow;
    
    @include abs.breakpoint-up(tablet) {
        margin: abs.toRem(25);
        padding: abs.toRem(40) abs.toRem(44);
    }

    &__service {
        display: flex;
        flex-direction: column;
        gap: abs.toRem(25);
    }

    &__title {
        font-size: abs.toRem(24); //18
        font-weight: normal;
    }

    &__cost {
        font-size: abs.toRem(34); //20
    }

    // Remove button arrow 
    .btn-secondary {
        &:after {
            content: none;
        }
    }

    &__benefit {
        position: relative;
        margin-top: abs.toRem(25);
        margin-bottom: abs.toRem(25);

        display: flex;
        align-items: center;
        gap: abs.toRem(19);


        &:before {
            content: "";
            position: relative;
            display: inline-block;
            min-width: 1.5rem;
            min-height: 1.5rem;
    
            // Inline SVG as background
            mask: url('./icons/check.svg');
            -webkit-mask: url('./icons/check.svg');
            background-color: abs.$black;
        }
    }

}


.review__card {
    flex-direction: column;
    align-items: flex-start;
    max-width: abs.toRem(480);
    min-height: abs.toRem(500);
    flex-wrap: wrap;
    gap: abs.toRem(35);
    padding: abs.toRem(20) 1rem;
    border-radius: abs.toRem(10);

    -webkit-box-shadow: 17px 26px 15px -7px rgba(0,0,0,0.35);
    -moz-box-shadow: 17px 26px 15px -7px rgba(0,0,0,0.35);
    box-shadow: 17px 26px 15px -7px rgba(0,0,0,0.35);

    @include abs.breakpoint-up(small-desktop) {
        padding: abs.toRem(60) abs.toRem(40);
        display: flex;
    }

    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }

    &__mess {
        line-height: 1.7;
    }
      
    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: abs.toRem(30);

        @include abs.breakpoint-up(small-desktop) {
            flex-direction: row;
            justify-content: space-between;  
            align-items: flex-start;
            margin-top: abs.toRem(50);
        }
    }

    .stars {
        color: gold;
    }
      
}