@use '../abstracts/' as abs;


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    @include abs.breakpoint-up(small-desktop) {
       display: none;
    }
 
    span {
        height: 1em;
        width: 1em;
        margin: 0.5rem;
        background-color: abs.$primary-light-blue;
        border-radius: 50%;
        cursor: pointer;
        
    }
    
    .review-dot--active,
    .payment-dot--active {
       background-color: abs.$primary-dark-blue;
    }
}