@use '../abstracts/fonts' as fnt;
@use '../abstracts//variables' as vars;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: fnt.$font;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}