@use '../abstracts/functions' as f;
@use '../abstracts' as abs;

button {
    font-size: medium;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: abs.toRem(8);
}

a {
    color: abs.$white;

    &:hover {
        color: abs.$secondary-yellow;
    }
}

section {
    margin-top: abs.toRem(100);
    margin-bottom: abs.toRem(100);
}

h1 {
    line-height: 1.2;
    max-width: 16ch;
    font-size: clamp(abs.toRem(36), calc(2.5vw + 1.5rem), abs.toRem(64));
}