@use 'abstracts/breakpoints' as bp;

@mixin breakpoint-up($viewport) {
    $min-width: map-get(bp.$breakpoints-up, $viewport);
    @if $min-width {
        @media (min-width: #{$min-width}) {
            @content;
        }
    } @else {
        @warn "No breakpoint found for `#{$viewport}` in `bp.$breakpoints-up`.";
    }
}


@mixin flex-space-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}