@use '../abstracts/' as abs;

.hero {
   @include abs.section-styles(abs.$primary-light-blue)
}

.management  {
   @include abs.section-styles(abs.$black)
}

.connectivity {
   @include abs.section-styles(abs.$black);

   &__wrapper {

      @include abs.breakpoint-up(tablet) {
         flex-direction: row-reverse;
         gap: 5rem;
      }
  }
}

.custome {
   @include abs.section-styles(abs.$black)
}

.payment {
   &__text {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      p {
         max-width: abs.toRem(960);
         font-size: abs.toRem(18);
      }
   }

   &__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: abs.toRem(60);

      @include abs.breakpoint-up(small-desktop) {
         flex-direction: row;
      }

      .card {
         display: none;

         &--active {
            display: block;
         }

         @include abs.breakpoint-up(small-desktop) {
            display: block;
         }
      }
   }
}

.platforms {
   background-color: abs.$primary-dark-blue;
   color: abs.$white;

   &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      padding: abs.toRem(100) abs.toRem(16);
      margin-inline: auto;

      @include abs.breakpoint-up(tablet) {
         max-width: 100ch;
         justify-content: center;
         align-items: center;
      }
   }

   &__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;

      @include abs.breakpoint-up(tablet) {
         align-items: center;
         text-align: center;
      }
   }

}

.data {
   @include abs.section-styles(abs.$black);

   @include abs.breakpoint-down(tablet) {
      &__wrapper {
         flex-direction: column-reverse;
      }
   }
}

.sponsors {
   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;

      @include abs.breakpoint-up(tablet) {
         gap: 5rem;
      }
   
   }

   &__logos {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;
   
      @include abs.breakpoint-up(tablet) {
         flex-direction: row;
         justify-content: space-between;
      }
   
   }

}

.review {

   &__text {
      text-align: center;
      margin-bottom: abs.toRem(60);
   }


   &__cards {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: abs.toRem(32);


      @include abs.breakpoint-up(small-desktop) {
         flex-direction: row;
     }

   }

   &__card {
      display: none;

      @include abs.breakpoint-up(small-desktop) {
         display: flex;
     }

      
      &--active {
         display: flex;
     }
   }
}

.app-integration {
   background-color: abs.$primary-dark-blue;

   img {
      max-height: abs.toRem(450);
   }

   @include abs.section-styles(abs.$white);

   @include abs.breakpoint-down(tablet) {

      &__wrapper {
         flex-direction: column-reverse;
         gap: 2rem;
         padding-top: abs.toRem(40);
         padding-bottom: abs.toRem(40);
      }
   }

   @include abs.breakpoint-up(tablet) {

      &__wrapper {
         padding-top: abs.toRem(140);
         padding-bottom: abs.toRem(140);
         gap: 4rem;
         flex-direction: row-reverse;
      }
   }
}


.footer {
   background-color: abs.$primary-dark-blue;
   color: abs.$white;


   &__wrapper {
      padding-top: abs.toRem(100);
      padding-bottom: abs.toRem(100);

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;

      @include abs.breakpoint-up(small-desktop) {
         flex-direction: row;
         align-items: flex-start;
      }

   }

   &__logo,
   &__product,
   &__resources,
   &__company,
   &__btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      gap: 1.5rem;

      h2,
      a {
         font-size: abs.toRem(18);
      }
   }

   &__logo {
      line-height: 1.8;
      max-width: abs.toRem(300);

      img {
         height: abs.toRem(29);
      }
   }

   &__btn {
      max-width: 70%;
      text-align: center;
   }
}