@use '../abstracts/' as abs;

.hero {
   @include abs.section-styles(abs.$primary-light-blue)
}

.management  {
   @include abs.section-styles(abs.$black)
}

.connectivity {
   @include abs.section-styles(abs.$black);

   &__wrapper {

      @include abs.breakpoint-up(tablet) {
         flex-direction: row-reverse;
         gap: 5rem;
      }
  }
}

.custome {
   @include abs.section-styles(abs.$black)
}

.data {
   @include abs.section-styles(abs.$black);

   @include abs.breakpoint-down(tablet) {
      &__wrapper {
         flex-direction: column-reverse;
      }
   }
}